:root {
  --clr-primary-verydesaturatedblue: hsl(229, 23%, 23%);
  --clr-primary-darkcyan: hsl(185, 75%, 39%);
  --clr-primary-darkgreyishblus: hsl(227, 10%, 46%);/ --ff: "Kumbh Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-400);
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--clr-primary-darkcyan);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

hr {
  margin: 0;
  border-top: 1px solid hsla(227, 10%, 46%, 0.3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
  border-radius: .5em;
  box-shadow: 5px 5px 16px 7px rgba(0, 0, 0, 0.17);
}

.top-banner {
  height: 8em;
  width: 20em;
  background-color: red;
  background-image: url(images/bg-pattern-card.svg);
}

.victor-photo {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 5px;
}

.profile-photo {
  position: absolute;
  top: 5em;
}

.profile-information {
  margin-top: 5em;
  font-size: 0.8em;
  color: var(--clr-primary-verydesaturatedblue);
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}

.profile-information-name {
  margin-bottom: 0.8em;
  font-weight: 700;
}

.profile-information-age {
  margin-bottom: 0.8em;
  font-weight: 400;
  color: var(--clr-primary-darkgreyishblus);
  margin-left: 0.5em;
}

.profile-stats{
  margin-bottom:1.5em;
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.stats-info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.stats-info-number{
  font-weight: 700;
  margin:0.5em;
}

.stats-info-description{
  font-weight: 400;
  color: var(--clr-primary-darkgreyishblus);
  font-size: .6em;
  letter-spacing: 0.15em;
}


.location {
  text-align: center;
  margin-bottom: 2em;
}

.top-circle {
  position: fixed;
  bottom: 50%;
  right: 50%;
  z-index: -1;
}

.bottom-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
}
